In [1]:
import pandas as pd, numpy as np

In [2]:
cv = pd.read_csv('./data/covid19/PatientInfo.csv')

In [3]:
cv.head()

,patient_id,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2002000001,17,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000002,2,NaN,2020-01-31,2020-02-24,NaN,released

In [4]:
# 필요데이터만 추출

cv = cv[['patient_id', 'sex', 'age', 'country', 'province', 'city', 'infection_case', 'confirmed_date']]

In [5]:
cv.head()

,patient_id,sex,age,country,province,city,infection_case,confirmed_date
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,2020-01-23
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,2020-01-30
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2020-01-30
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,2020-01-30
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,2020-01-31

In [49]:
cv.groupby(['confirmed_date','province','city'])[['patient_id']].count()

                                                patient_id
confirmed_date province          city
2020-01-20     Incheon           etc                     1
2020-01-23     Seoul             Gangseo-gu              1
2020-01-26     Gyeonggi-do       Goyang-si               1
2020-01-27     Gyeonggi-do       Pyeongtaek-si           1
2020-01-30     Jeollabuk-do      Gunsan-si               1
...                                                    ...
2020-06-29     Seoul             Nowon-gu                1
                                 etc                     1
2020-06-30     Chungcheongnam-do Buyeo-gun               1
               Daejeon           Dong-gu                 3
                                 Seo-gu                  1

[2643 rows x 1 columns]

In [50]:
df = cv.pivot_table(index='confirmed_date',
               columns=['province','city'], 
               values='patient_id',
               aggfunc='count')

In [51]:
df.fillna(0,inplace=True)

In [52]:
df.reset_index(inplace=True)

In [53]:
df.head()

province confirmed_date  Busan                                            \
city                    Buk-gu Busanjin-gu Dong-gu Dongnae-gu Gangseo-gu
0            2020-01-20    0.0         0.0     0.0        0.0        0.0
1            2020-01-23    0.0         0.0     0.0        0.0        0.0
2            2020-01-26    0.0         0.0     0.0        0.0        0.0
3            2020-01-27    0.0         0.0     0.0        0.0        0.0
4            2020-01-30    0.0         0.0     0.0        0.0        0.0

province                                             ...     Seoul  \
city     Geumjeong-gu Gijang-gun Haeundae-gu Nam-gu  ... Songpa-gu
0                 0.0        0.0         0.0    0.0  ...       0.0
1                 0.0        0.0         0.0    0.0  ...       0.0
2                 0.0        0.0         0.0    0.0  ...       0.0
3                 0.0        0.0         0.0    0.0  ...       0.0
4                 0.0        0.0         0.0    0.0  ...       0.0

province                                               Ulsan                  \
city     Yangcheon-gu Yeongdeungpo-gu Yongsan-gu  etc Buk-gu Dong-gu Jung-gu
0                 0.0             0.0        0.0  0.0    0.0     0.0     0.0
1                 0.0             0.0        0.0  0.0    0.0     0.0     0.0
2                 0.0             0.0        0.0  0.0    0.0     0.0     0.0
3                 0.0             0.0        0.0  0.0    0.0     0.0     0.0
4                 0.0             0.0        0.0  0.0    0.0     0.0     0.0

province
city     Nam-gu Ulju-gun
0           0.0      0.0
1           0.0      0.0
2           0.0      0.0
3           0.0      0.0
4           0.0      0.0

[5 rows x 188 columns]

In [61]:
df['Daegu'].sum()

city
Buk-gu            10.0
Dalseo-gu         29.0
Dalseong-gun       1.0
Dalsung-gun        6.0
Dong-gu           10.0
Icheon-dong        1.0
Jung-gu            3.0
Kyeongsan-si       1.0
Nam-gu            11.0
Seo-gu             7.0
Suseong-gu        14.0
Yeongcheon-si      1.0
sankyeock-dong     1.0
dtype: float64

In [15]:
df['month'] = df.confirmed_date.str[0:4] + df.confirmed_date.str[5:-3]

In [16]:
cv_df = df.groupby(['month'],as_index=False).sum()

C:\Users\Joshua\anaconda3\lib\site-packages\pandas\core\generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [17]:
cv_df

province   month  Busan                                            \
city             Buk-gu Busanjin-gu Dong-gu Dongnae-gu Gangseo-gu
0         202001    0.0         0.0     0.0        0.0        0.0
1         202002    3.0         4.0     0.0       26.0        2.0
2         202003    2.0         9.0     0.0        7.0        1.0
3         202004    2.0         0.0     1.0        3.0        0.0
4         202005    1.0         1.0     0.0        2.0        1.0
5         202006    0.0         0.0     0.0        1.0        1.0

province                                             ...     Seoul  \
city     Geumjeong-gu Gijang-gun Haeundae-gu Nam-gu  ... Songpa-gu
0                 0.0        0.0         0.0    0.0  ...       0.0
1                 4.0        0.0        14.0    2.0  ...      11.0
2                 2.0        1.0         4.0    1.0  ...      16.0
3                 0.0        0.0         2.0    2.0  ...      10.0
4                 1.0        0.0         0.0    1.0  ...      11.0
5                 0.0        0.0         2.0    1.0  ...       7.0

province                                                Ulsan                  \
city     Yangcheon-gu Yeongdeungpo-gu Yongsan-gu   etc Buk-gu Dong-gu Jung-gu
0                 0.0             0.0        0.0   0.0    0.0     0.0     0.0
1                 1.0             2.0        0.0   9.0    2.0     2.0     3.0
2                17.0            18.0       12.0  22.0    3.0     3.0     4.0
3                 4.0             4.0        6.0  12.0    1.0     1.0     0.0
4                 6.0            11.0       20.0  12.0    2.0     3.0     4.0
5                43.0            27.0       12.0  25.0    2.0     0.0     1.0

province
city     Nam-gu Ulju-gun
0           0.0      0.0
1           8.0      1.0
2           8.0      2.0
3           2.0      1.0
4           0.0      2.0
5           0.0      0.0

[6 rows x 188 columns]

# 데이터 병합

In [18]:
raw_df = pd.read_csv("./data/jeju_data_ver1/201901-202003.csv")

In [19]:
df = raw_df
df.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3

## 데이터의 결측치
- 데이터 결측치를 살펴보면 CARD_CCG_NM, HOM_CCG_NM 두 변수에서 나타나는데 이는 모두 세종시이기 때문에 시군구 단위의 데이터가 없는것으로 확인된다.

In [35]:
df.isnull().sum() / len(df) * 100

REG_YYMM        0.000000
CARD_SIDO_NM    0.000000
CARD_CCG_NM     0.353121
STD_CLSS_NM     0.000000
HOM_SIDO_NM     0.000000
HOM_CCG_NM      0.598381
AGE             0.000000
SEX_CTGO_CD     0.000000
FLC             0.000000
CSTMR_CNT       0.000000
AMT             0.000000
CNT             0.000000
dtype: float64

In [31]:
df[df['HOM_CCG_NM'].isnull()]['HOM_SIDO_NM'].unique()

array(['세종'], dtype=object)

In [29]:
df[df['CARD_CCG_NM'].isnull()]['CARD_SIDO_NM'].__len__() / len(df) * 100

0.3531206352373524

In [25]:
df[df['CARD_SIDO_NM']=='서울'].__len__()/len(df) * 100

25.34437896310731

In [27]:
df[df['CARD_SIDO_NM']=='세종'].__len__()/len(df) * 100

0.3531206352373524

In [100]:
#df = df.drop(['CARD_CCG_NM','HOM_CCG_NM'],axis=1)

columns = ['CARD_SIDO_NM': : '','CARD_CCG_NM','STD_CLSS_NM','HOM_SIDO_NM', 'HOM_CCG_NM','AGE','SEX_CTGO_CD','FLC','REG_YYMM']
df = df.groupby(columns).sum().reset_index(drop=False)

,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,REG_YYMM,CSTMR_CNT,AMT,CNT
0,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,201901,4,311200,4
1,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,201911,7,673500,9
2,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,2,1,201911,5,328000,5
3,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,2,1,202001,3,345000,3
4,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,201901,7,1374500,8

In [102]:
df.tail()

,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,REG_YYMM,CSTMR_CNT,AMT,CNT
24470523,충북,충주시,휴양콘도 운영업,충북,충주시,60s,2,5,201911,4,74000,4
24470524,충북,충주시,휴양콘도 운영업,충북,충주시,60s,2,5,201912,6,431600,7
24470525,충북,충주시,휴양콘도 운영업,충북,충주시,70s,1,5,201901,4,349000,4
24470526,충북,충주시,휴양콘도 운영업,충북,충주시,70s,1,5,201907,3,64000,3
24470527,충북,충주시,휴양콘도 운영업,충북,충주시,70s,2,5,201902,3,83000,3

In [106]:
df.CARD_CCG_NM.unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시', '광명시', '광주시',
       '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남시 분당구', '성남시 수정구',
       '성남시 중원구', '수원시 권선구', '수원시 영통구', '수원시 장안구', '수원시 팔달구', '시흥시',
       '안산시 단원구', '안산시 상록구', '안성시', '안양시 동안구', '안양시 만안구', '양주시', '양평군',
       '여주시', '연천군', '오산시', '용인시 기흥구', '용인시 수지구', '용인시 처인구', '의왕시',
       '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시', '화성시', '거제시', '거창군',
       '김해시', '남해군', '밀양시', '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군',
       '창원시 마산합포구', '창원시 마산회원구', '창원시 성산구', '창원시 의창구', '창원시 진해구', '통영시',
       '하동군', '함안군', '함양군', '합천군', '경산시', '경주시', '고령군', '구미시', '군위군',
       '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시',
       '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시 남구',
       '포항시 북구', '광산구', '남구', '동구', '북구', '서구', '달서구', '달성군', '수성구', '중구',
       '대덕구', '유성구', '강서구', '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구',
       '수영구', '연제구', '영도구', '해운대구', '강남구', '강동구', '강북구', '관악구', '광진구',
       '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구',
       '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중랑구',
       '울주군', '강화군', '계양구', '남동구', '부평구', '연수구', '옹진군', '강진군', '고흥군',
       '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시',
       '신안군', '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군',
       '해남군', '화순군', '고창군', '군산시', '김제시', '남원시', '무주군', '부안군', '순창군',
       '완주군', '익산시', '임실군', '장수군', '전주시 덕진구', '전주시 완산구', '정읍시', '진안군',
       '서귀포시', '제주시', '계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군',
       '서산시', '서천군', '아산시', '예산군', '천안시 동남구', '천안시 서북구', '청양군', '태안군',
       '홍성군', '괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군', '제천시', '증평군',
       '진천군', '청주시 상당구', '청주시 서원구', '청주시 청원구', '청주시 흥덕구', '충주시'],
      dtype=object)

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시', '광명시', '광주시',
       '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남시 분당구', '성남시 수정구',
       '성남시 중원구', '수원시 권선구', '수원시 영통구', '수원시 장안구', '수원시 팔달구', '시흥시',
       '안산시 단원구', '안산시 상록구', '안성시', '안양시 동안구', '안양시 만안구', '양주시', '양평군',
       '여주시', '연천군', '오산시', '용인시 기흥구', '용인시 수지구', '용인시 처인구', '의왕시',
       '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시', '화성시', '거제시', '거창군',
       '김해시', '남해군', '밀양시', '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군',
       '창원시 마산합포구', '창원시 마산회원구', '창원시 성산구', '창원시 의창구', '창원시 진해구', '통영시',
       '하동군', '함안군', '함양군', '합천군', '경산시', '경주시', '고령군', '구미시', '군위군',
       '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시',
       '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시 남구',
       '포항시 북구', '광산구', '남구', '동구', '북구', '서구', '달서구', '달성군', '수성구', '중구',
       '대덕구', '유성구', '강서구', '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구',
       '수영구', '연제구', '영도구', '해운대구', '강남구', '강동구', '강북구', '관악구', '광진구',
       '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구',
       '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중랑구',
       '울주군', '강화군', '계양구', '남동구', '부평구', '연수구', '옹진군', '강진군', '고흥군',
       '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시',
       '신안군', '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군',
       '해남군', '화순군', '고창군', '군산시', '김제시', '남원시', '무주군', '부안군', '순창군',
       '완주군', '익산시', '임실군', '장수군', '전주시 덕진구', '전주시 완산구', '정읍시', '진안군',
       '서귀포시', '제주시', '계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군',
       '서산시', '서천군', '아산시', '예산군', '천안시 동남구', '천안시 서북구', '청양군', '태안군',
       '홍성군', '괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군', '제천시', '증평군',
       '진천군', '청주시 상당구', '청주시 서원구', '청주시 청원구', '청주시 흥덕구', '충주시'],

In [104]:
list(cv_df.columns[1:])

['Andong-si',
 'Ansan-si',
 'Anseong-si',
 'Anyang-si',
 'Asan-si',
 'Bonghwa-gun',
 'Bucheon-si',
 'Buk-gu',
 'Bupyeong-gu',
 'Busanjin-gu',
 'Buyeo-gun',
 'Changnyeong-gun',
 'Changwon-si',
 'Cheonan-si',
 'Cheongdo-gun',
 'Cheongju-si',
 'Cheongsong-gun',
 'Cheorwon-gun',
 'Chilgok-gun',
 'Chuncheon-si',
 'Chungju-si',
 'Daedeok-gu',
 'Dalseo-gu',
 'Dalseong-gun',
 'Dalsung-gun',
 'Danyang-gun',
 'Dobong-gu',
 'Dong-gu',
 'Dongdaemun-gu',
 'Dongducheon-si',
 'Dongjak-gu',
 'Dongnae-gu',
 'Eumseong-gun',
 'Eunpyeong-gu',
 'Gangbuk-gu',
 'Gangdong-gu',
 'Ganghwa-gun',
 'Gangnam-gu',
 'Gangneung-si',
 'Gangseo-gu',
 'Gapyeong-gun',
 'Geochang-gun',
 'Geoje-si',
 'Geumcheon-gu',
 'Geumjeong-gu',
 'Gijang-gun',
 'Gimcheon-si',
 'Gimhae-si',
 'Gimje-si',
 'Gimpo-si',
 'Goesan-gun',
 'Gongju-si',
 'Goryeong-gun',
 'Goseong-gun',
 'Goyang-si',
 'Gumi-si',
 'Gunpo-si',
 'Gunsan-si',
 'Gunwi-gun',
 'Guri',
 'Guri-si',
 'Guro-gu',
 'Gwacheon-si',
 'Gwanak-gu',
 'Gwangjin-gu',
 'Gwangju-si',
 'Gwangmyeong-si',
 'Gwangyang-si',
 'Gyeongju-si',
 'Gyeongsan-si',
 'Gyeryong-si',
 'Gyeyang-gu',
 'Haeundae-gu',
 'Haman-gun',
 'Hamyang-gun',
 'Hanam-si',
 'Hapcheon-gun',
 'Hoengseong-gun',
 'Hongseong-gun',
 'Hwaseong-si',
 'Hwasun-gun',
 'Icheon-dong',
 'Icheon-si',
 'Iksan-si',
 'Inje-gun',
 'Jangsu-gun',
 'Jeju-do',
 'Jeonju-si',
 'Jeungpyeong-gun',
 'Jincheon-gun',
 'Jinju-si',
 'Jongno-gu',
 'Jung-gu',
 'Jungnang-gu',
 'Kyeongsan-si',
 'Mapo-gu',
 'Michuhol-gu',
 'Miryang-si',
 'Mokpo-si',
 'Muan-gun',
 'Mungyeong-si',
 'Nam-gu',
 'Namdong-gu',
 'Namhae-gun',
 'Namyangju-si',
 'Nonsan-si',
 'Nowon-gu',
 'Okcheon-gun',
 'Osan-si',
 'Paju-si',
 'Pocheon-si',
 'Pohang-si',
 'Pyeongtaek-si',
 'Sacheon-si',
 'Saha-gu',
 'Samcheok-si',
 'Sancheong-gun',
 'Sangju-si',
 'Sasang-gu',
 'Sejong',
 'Seo-gu',
 'Seocheon-gun',
 'Seocho-gu',
 'Seodaemun-gu',
 'Seongbuk-gu',
 'Seongdong-gu',
 'Seongju-gun',
 'Seongnam-si',
 'Seosan-si',
 'Siheung-si',
 'Sokcho-si',
 'Songpa-gu',
 'Suncheon-si',
 'Suseong-gu',
 'Suwon',
 'Suwon-si',
 'Suyeong-gu',
 'Taean-gun',
 'Taebaek-si',
 'Uijeongbu-si',
 'Uiseong-gun',
 'Uiwang-si',
 'Ulju-gun',
 'Wonju-si',
 'Yangcheon-gu',
 'Yangju-si',
 'Yangpyeong-si',
 'Yangsan-si',
 'Yecheon-gun',
 'Yeongcheon-si',
 'Yeongdeok-gun',
 'Yeongdeungpo-gu',
 'Yeongju-si',
 'Yeongwol-gun',
 'Yeongyang-gun',
 'Yeonje-gu',
 'Yeonsu-gu',
 'Yeosu-si',
 'Yongin-si',
 'Yongsan-gu',
 'Yuseong-gu',
 'etc',
 'sankyeock-dong']

In [ ]:
city_dict = {
 'Andong-si': '안동시',
 'Ansan-si': '안산시',
 'Anseong-si': '안성시',
 'Anyang-si': '안양시',
 'Asan-si': '아산시',
 'Bonghwa-gun': '봉화군',
 'Bucheon-si': '부천시',
 'Buk-gu': '북구',
 'Bupyeong-gu': '부평구',
 'Busanjin-gu': '부산진구',
 'Buyeo-gun': '부여군',
 'Changnyeong-gun': '창녕군',
 'Changwon-si': '창원시',
 'Cheonan-si': '천안시',
 'Cheongdo-gun': '청도군',
 'Cheongju-si': '청주시',
 'Cheongsong-gun': '청송군',
 'Cheorwon-gun': '철원군',
 'Chilgok-gun': '칠곡군',
 'Chuncheon-si': '춘천시',
 'Chungju-si': '충주시',
 'Daedeok-gu': '대덕구',
 'Dalseo-gu': '달서구',
 'Dalseong-gun': '달성군',
 'Dalsung-gun': '달성군',
 'Danyang-gun': '단양군',
 'Dobong-gu': '도봉구',
 'Dong-gu': '동구',
 'Dongdaemun-gu': '동대문구',
 'Dongducheon-si': '동두천시',
 'Dongjak-gu': '동작구',
 'Dongnae-gu': '동래구',
 'Eumseong-gun': '음성군',
 'Eunpyeong-gu': '은평구',
 'Gangbuk-gu': '강북구',
 'Gangdong-gu': '강동구',
 'Ganghwa-gun': '강화군',
 'Gangnam-gu': '강남구',
 'Gangneung-si': '강릉시',
 'Gangseo-gu': '강서구',
 'Gapyeong-gun': '가평군',
 'Geochang-gun': '거창군',
 'Geoje-si': '거제시',
 'Geumcheon-gu': '금천구',
 'Geumjeong-gu': '금정구',
 'Gijang-gun': '기장군',
 'Gimcheon-si': '김천시',
 'Gimhae-si': '김해시',
 'Gimje-si': '김제시',
 'Gimpo-si': '김포시',
 'Goesan-gun': '괴산군',
 'Gongju-si': '공주시',
 'Goryeong-gun': '고령군',
 'Goseong-gun': '고성군',
 'Goyang-si': '고양시',
 'Gumi-si': '구미시',
 'Gunpo-si': '군포시',
 'Gunsan-si': '군산시',
 'Gunwi-gun': '군위시',
 'Guri': '구리',
 'Guri-si': '구리시',
 'Guro-gu': '구로구',
 'Gwacheon-si': '과천시',
 'Gwanak-gu': '관악구',
 'Gwangjin-gu': '광진구',
 'Gwangju-si': '광주시',
 'Gwangmyeong-si': '광명시',
 'Gwangyang-si': '광양시',
 'Gyeongju-si': '경주시',
 'Gyeongsan-si': '경산시',
 'Gyeryong-si': '계룡시',
 'Gyeyang-gu': '계양구',
 'Haeundae-gu': '해운대구',
 'Haman-gun': '함안군',
 'Hamyang-gun': '함양군',
 'Hanam-si': '하남시',
 'Hapcheon-gun': '합천군',
 'Hoengseong-gun': '횡성군',
 'Hongseong-gun': '홍성군',
 'Hwaseong-si': '화성시',
 'Hwasun-gun': '화순군',
 'Icheon-dong': '인천동',
 'Icheon-si': '인천시',
 'Iksan-si': '익산시',
 'Inje-gun': '인제군',
 'Jangsu-gun': '장수군',
 'Jeju-do': '제주도',
 'Jeonju-si': '제주시',
 'Jeungpyeong-gun': '증평군',
 'Jincheon-gun': '진천군',
 'Jinju-si': '진주시',
 'Jongno-gu': '종로구',
 'Jung-gu': '중구',
 'Jungnang-gu': '중랑구',
 'Kyeongsan-si': '경산시',
 'Mapo-gu': '마포구',
 'Michuhol-gu': '미추홀구',
 'Miryang-si': '밀양시',
 'Mokpo-si': '목포시',
 'Muan-gun': '무안군',
 'Mungyeong-si': '문경시',
 'Nam-gu': '남구',
 'Namdong-gu': '남동구',
 'Namhae-gun': '남해군',
 'Namyangju-si': '남양주시',
 'Nonsan-si': '논산시',
 'Nowon-gu': '노원구',
 'Okcheon-gun': '옥천군',
 'Osan-si': '오산시',
 'Paju-si': '파주시',
 'Pocheon-si': '포천시',
 'Pohang-si': '포항시',
 'Pyeongtaek-si': '평택시',
 'Sacheon-si': '사천시',
 'Saha-gu': '사하구',
 'Samcheok-si': '삼척시',
 'Sancheong-gun': '산청군',
 'Sangju-si': '상주시',
 'Sasang-gu': '사상구',
 'Sejong': '세종시',
 'Seo-gu': '',
 'Seocheon-gun': '',
 'Seocho-gu': '',
 'Seodaemun-gu': '',
 'Seongbuk-gu': '',
 'Seongdong-gu': '',
 'Seongju-gun': '',
 'Seongnam-si': '',
 'Seosan-si': '',
 'Siheung-si': '',
 'Sokcho-si': '',
 'Songpa-gu': '',
 'Suncheon-si': '',
 'Suseong-gu': '',
 'Suwon': '',
 'Suwon-si': '',
 'Suyeong-gu': '',
 'Taean-gun': '',
 'Taebaek-si': '',
 'Uijeongbu-si': '',
 'Uiseong-gun': '',
 'Uiwang-si': '',
 'Ulju-gun': '',
 'Wonju-si': '',
 'Yangcheon-gu': '',
 'Yangju-si': '',
 'Yangpyeong-si': '',
 'Yangsan-si': '',
 'Yecheon-gun': '',
 'Yeongcheon-si': '',
 'Yeongdeok-gun': '',
 'Yeongdeungpo-gu': '',
 'Yeongju-si': '',
 'Yeongwol-gun': '',
 'Yeongyang-gun': '',
 'Yeonje-gu': '',
 'Yeonsu-gu': '',
 'Yeosu-si': '',
 'Yongin-si': '',
 'Yongsan-gu': '',
 'Yuseong-gu': '',
 'etc': '',
 'sankyeock-dong'
            }