In [3]:
import pandas as pd
from tqdm import tqdm

In [2]:
df_raw = pd.read_csv('./data/jeju_data_ver1/201901-202003.csv')

In [5]:
df=df_raw

In [6]:
df.columns

Index(['REG_YYMM', 'CARD_SIDO_NM', 'CARD_CCG_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM',
       'HOM_CCG_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'CSTMR_CNT', 'AMT', 'CNT'],
      dtype='object')

In [36]:
df1 = df.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'])['AMT'].sum().reset_index()

In [11]:
sido_list = list(df_raw['CARD_SIDO_NM'].unique())
clss_list = list(df_raw['STD_CLSS_NM'].unique())

In [51]:
dict1 = dict()
for i in sido_list:
    res = df1[df1['CARD_SIDO_NM'] =='{}'.format(i)]['STD_CLSS_NM'].unique()
    result = set(clss_list) - set(res)
    dict1['{}'.format(i)] = list(result)

In [52]:
dict1

{'강원': ['정기 항공 운송업'],
 '경기': ['면세점', '정기 항공 운송업'],
 '경남': ['면세점', '정기 항공 운송업'],
 '경북': ['면세점', '정기 항공 운송업'],
 '광주': ['그외 기타 분류안된 오락관련 서비스업', '면세점', '휴양콘도 운영업', '정기 항공 운송업'],
 '대구': ['그외 기타 분류안된 오락관련 서비스업', '휴양콘도 운영업', '정기 항공 운송업', '내항 여객 운송업'],
 '대전': ['택시 운송업',
  '그외 기타 분류안된 오락관련 서비스업',
  '면세점',
  '버스 운송업',
  '내항 여객 운송업',
  '휴양콘도 운영업',
  '정기 항공 운송업'],
 '부산': ['그외 기타 분류안된 오락관련 서비스업'],
 '서울': ['그외 기타 분류안된 오락관련 서비스업', '휴양콘도 운영업'],
 '세종': ['여행사업',
  '택시 운송업',
  '면세점',
  '버스 운송업',
  '내항 여객 운송업',
  '자동차 임대업',
  '휴양콘도 운영업',
  '호텔업',
  '정기 항공 운송업'],
 '울산': ['휴양콘도 운영업', '정기 항공 운송업', '내항 여객 운송업'],
 '인천': ['그외 기타 분류안된 오락관련 서비스업', '버스 운송업', '휴양콘도 운영업'],
 '전남': ['정기 항공 운송업'],
 '전북': ['그외 기타 분류안된 오락관련 서비스업', '면세점'],
 '제주': ['버스 운송업'],
 '충남': ['면세점'],
 '충북': ['그외 기타 분류안된 오락관련 서비스업', '정기 항공 운송업']}