In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, matplotlib as mpl, seaborn as sns, warnings

%matplotlib inline
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
plt.rc('font', family='NanumGothic')
rc('font', family=font_name)
mpl.rcParams['axes.unicode_minus'] = False

plt.style.use('ggplot')
color_pal = ["#F8766D", "#D39200", "#93AA00", "#00BA38", "#00C19F", "#00B9E3", "#619CFF", "#DB72FB"]

warnings.filterwarnings(action='ignore')

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import LinearSVR, SVR
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
df_raw = pd.read_csv('./data/jeju_data_ver1/201901-202003.csv')

In [3]:
df_raw.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3

In [4]:
df_raw.STD_CLSS_NM.unique().__len__()

41

In [5]:
df_raw.columns

Index(['REG_YYMM', 'CARD_SIDO_NM', 'CARD_CCG_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM',
       'HOM_CCG_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'CSTMR_CNT', 'AMT', 'CNT'],
      dtype='object')

#### 1, 2, 3월 데이터만 추출

In [6]:
df = df_raw[(df_raw['REG_YYMM'] == 202001) | (df_raw['REG_YYMM'] == 202002) | (df_raw['REG_YYMM'] == 202003)]
df.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
20425415,202001,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,2,1,3,345000,3
20425416,202001,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,3,1903450,3
20425417,202001,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,14,1520500,15
20425418,202001,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,9,1239200,9
20425419,202001,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,606700,4

In [7]:
df.fillna('세종시', inplace=True)

In [8]:
df.columns

Index(['REG_YYMM', 'CARD_SIDO_NM', 'CARD_CCG_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM',
       'HOM_CCG_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'CSTMR_CNT', 'AMT', 'CNT'],
      dtype='object')

In [9]:
df.drop(['CARD_CCG_NM','HOM_SIDO_NM','HOM_CCG_NM'], axis=1, inplace=True)

In [10]:
df = df.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'AGE', 'SEX_CTGO_CD', 'FLC']).sum().reset_index()

In [11]:
df.head()

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,202001,강원,건강보조식품 소매업,20s,1,1,6,168500,6
1,202001,강원,건강보조식품 소매업,20s,2,1,13,764646,13
2,202001,강원,건강보조식품 소매업,30s,1,2,72,12017410,73
3,202001,강원,건강보조식품 소매업,30s,2,2,88,9867625,89
4,202001,강원,건강보조식품 소매업,40s,1,3,90,10645775,91

# 군집 데이터 불러오기

In [12]:
cluster_info = pd.read_csv("./data/class_cluster.txt")

In [13]:
for i in cluster_info.iloc[0]:
    print(i)

['관광 민예품 및 선물용품 소매업' '그외 기타 분류안된 오락관련 서비스업' '그외 기타 스포츠시설 운영업'
 '기타 수상오락 서비스업' '내항 여객 운송업' '여관업' '여행사업' '전시 및 행사 대행업' '휴양콘도 운영업']

# 1번 군집

In [14]:
class_list = ['관광 민예품 및 선물용품 소매업', '그외 기타 분류안된 오락관련 서비스업', '그외 기타 스포츠시설 운영업',
 '기타 수상오락 서비스업', '내항 여객 운송업', '여관업', '여행사업', '전시 및 행사 대행업', '휴양콘도 운영업']
len(class_list)

9

In [15]:
df = df[df['STD_CLSS_NM'].map(lambda x: x in class_list)]

In [16]:
df.head()

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
62,202001,강원,관광 민예품 및 선물용품 소매업,20s,1,1,264,3957595,294
63,202001,강원,관광 민예품 및 선물용품 소매업,20s,1,2,3,33600,3
64,202001,강원,관광 민예품 및 선물용품 소매업,20s,2,1,83,914200,86
65,202001,강원,관광 민예품 및 선물용품 소매업,30s,1,2,67,1469800,74
66,202001,강원,관광 민예품 및 선물용품 소매업,30s,2,2,82,1782700,96

In [17]:
df.STD_CLSS_NM.unique()

array(['관광 민예품 및 선물용품 소매업', '그외 기타 스포츠시설 운영업', '기타 수상오락 서비스업',
       '내항 여객 운송업', '여관업', '여행사업', '전시 및 행사 대행업', '휴양콘도 운영업',
       '그외 기타 분류안된 오락관련 서비스업'], dtype=object)

In [18]:
def grap_year(data):
    data = str(data)
    return int(data[:4])

def grap_month(data):
    data = str(data)
    return int(data[4:])

In [19]:
df['year'] = df['REG_YYMM'].apply(lambda x: grap_year(x))
df['month'] = df['REG_YYMM'].apply(lambda x: grap_month(x))
df = df.drop(['REG_YYMM'], axis=1)

# Label Encoding

In [20]:
# 인코딩
dtypes = df.dtypes
encoders = {}
for column in df.columns:
    if str(dtypes[column]) == 'object':
        encoder = LabelEncoder()
        encoder.fit(df[column])
        encoders[column] = encoder
        
df = df.copy()        
for column in encoders.keys():
    encoder = encoders[column]
    df[column] = encoder.transform(df[column])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4619 entries, 62 to 38508
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CARD_SIDO_NM  4619 non-null   int32
 1   STD_CLSS_NM   4619 non-null   int32
 2   AGE           4619 non-null   int32
 3   SEX_CTGO_CD   4619 non-null   int64
 4   FLC           4619 non-null   int64
 5   CSTMR_CNT     4619 non-null   int64
 6   AMT           4619 non-null   int64
 7   CNT           4619 non-null   int64
 8   year          4619 non-null   int64
 9   month         4619 non-null   int64
dtypes: int32(3), int64(7)
memory usage: 342.8 KB

In [22]:
df.STD_CLSS_NM.unique()

array([0, 2, 3, 4, 5, 6, 7, 8, 1])

# Preprocessing

In [23]:
# 변수명 지정
X_cols = list(df.columns)
X_cols.remove('AMT')

In [24]:
X = df.drop(['CSTMR_CNT','AMT','CNT'], axis=1)
y = np.log1p(df['AMT'])

In [25]:
# X 변수 Scale 적용
# scaler = StandardScaler()
# X = scaler.fit_transform(X)

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True)

In [107]:
X_train

       CARD_SIDO_NM  STD_CLSS_NM  AGE  SEX_CTGO_CD  FLC  year  month
1292              1            6    1            1    1  2020      1
23864            14            0    2            2    2  2020      2
11497            14            7    0            1    1  2020      1
6863              8            6    1            2    1  2020      1
19385             7            8    2            2    1  2020      2
...             ...          ...  ...          ...  ...   ...    ...
11155            14            4    4            2    4  2020      1
11864            15            2    1            2    1  2020      1
38500            16            8    1            2    1  2020      3
19117             7            7    3            1    3  2020      2
27296             1            5    4            1    3  2020      3

[3233 rows x 7 columns]

In [ ]:
rf_uncustomized = RandomForestRegressor()
rf_uncustomized.fit(X_train, y_train)

# Light Gradient Boosting Machine

In [108]:
import lightgbm as lgb

In [109]:
train_ds = lgb.Dataset(X_train, label=y_train)
val_ds = lgb.Dataset(X_test, label=y_test)

In [110]:
params = {
            'learning_rate' : 0.1,
            'boosting_type': 'gbdt',
            'objective': 'tweedie',
            'tweedie_variance_power': 1.1,
            'metric': 'rmse',
            'sub_row' : 0.75,
            'lambda_l2' : 0.1
        }

In [111]:
model = lgb.train(params,
                  train_ds,
                  5000,
                  val_ds,
                  verbose_eval = 100,
                  early_stopping_rounds = 100
                 )

Training until validation scores don't improve for 100 rounds
[100]	valid_0's rmse: 1.06897
[200]	valid_0's rmse: 0.967113
[300]	valid_0's rmse: 0.926683
[400]	valid_0's rmse: 0.910089
[500]	valid_0's rmse: 0.902406
[600]	valid_0's rmse: 0.898427
[700]	valid_0's rmse: 0.894472
[800]	valid_0's rmse: 0.892616
[900]	valid_0's rmse: 0.891979
Early stopping, best iteration is:
[894]	valid_0's rmse: 0.891758

In [112]:
X.columns

Index(['CARD_SIDO_NM', 'STD_CLSS_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'year',
       'month'],
      dtype='object')

In [113]:
# 예측 템플릿 만들기
CARD_SIDO_NMs = df['CARD_SIDO_NM'].unique()
STD_CLSS_NMs  = df['STD_CLSS_NM'].unique()
#CARD_CCG_NMs  = df['CARD_CCG_NM'].unique()
AGEs          = df['AGE'].unique()
SEX_CTGO_CDs  = df['SEX_CTGO_CD'].unique()
FLCs          = df['FLC'].unique()
years         = [2020]
months        = [4]

temp = []
for CARD_SIDO_NM in CARD_SIDO_NMs:
    for STD_CLSS_NM in STD_CLSS_NMs:
        for AGE in AGEs:
            for SEX_CTGO_CD in SEX_CTGO_CDs:
                for FLC in FLCs:
                    for year in years:
                        for month in months:
                            temp.append([CARD_SIDO_NM, STD_CLSS_NM,  AGE, SEX_CTGO_CD, FLC, year, month])
temp = np.array(temp)
temp = pd.DataFrame(data=temp, columns=X.columns)

In [114]:
X.columns

Index(['CARD_SIDO_NM', 'STD_CLSS_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'year',
       'month'],
      dtype='object')

In [115]:
temp

       CARD_SIDO_NM  STD_CLSS_NM  AGE  SEX_CTGO_CD  FLC  year  month
0                 0            0    1            1    1  2020      4
1                 0            0    1            1    2  2020      4
2                 0            0    1            1    3  2020      4
3                 0            0    1            1    4  2020      4
4                 0            0    1            1    5  2020      4
...             ...          ...  ...          ...  ...   ...    ...
10705            16            1    0            2    1  2020      4
10706            16            1    0            2    2  2020      4
10707            16            1    0            2    3  2020      4
10708            16            1    0            2    4  2020      4
10709            16            1    0            2    5  2020      4

[10710 rows x 7 columns]

In [116]:
# 예측
pred = model.predict(temp)

In [117]:
pred = np.expm1(pred)
temp['AMT'] = np.round(pred, 0)
temp['REG_YYMM'] = temp['year']*100 + temp['month']
temp = temp[['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'AMT']]
temp = temp.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM']).sum().reset_index(drop=False)

In [118]:
temp

     REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM          AMT
0      202004             0            0   27668297.0
1      202004             0            1    3796918.0
2      202004             0            2    6518359.0
3      202004             0            3    4996608.0
4      202004             0            4    2791240.0
..        ...           ...          ...          ...
148    202004            16            4   15461825.0
149    202004            16            5  261179207.0
150    202004            16            6    5082474.0
151    202004            16            7    4450106.0
152    202004            16            8   19286192.0

[153 rows x 4 columns]

In [119]:
# 디코딩 
temp['CARD_SIDO_NM'] = encoders['CARD_SIDO_NM'].inverse_transform(temp['CARD_SIDO_NM'])
temp['STD_CLSS_NM'] = encoders['STD_CLSS_NM'].inverse_transform(temp['STD_CLSS_NM'])

In [120]:
temp

     REG_YYMM CARD_SIDO_NM           STD_CLSS_NM          AMT
0      202004           강원     관광 민예품 및 선물용품 소매업   27668297.0
1      202004           강원  그외 기타 분류안된 오락관련 서비스업    3796918.0
2      202004           강원       그외 기타 스포츠시설 운영업    6518359.0
3      202004           강원          기타 수상오락 서비스업    4996608.0
4      202004           강원             내항 여객 운송업    2791240.0
..        ...          ...                   ...          ...
148    202004           충북             내항 여객 운송업   15461825.0
149    202004           충북                   여관업  261179207.0
150    202004           충북                  여행사업    5082474.0
151    202004           충북           전시 및 행사 대행업    4450106.0
152    202004           충북              휴양콘도 운영업   19286192.0

[153 rows x 4 columns]

In [121]:
temp.to_csv('./data/clusters/cluster1.csv')