In [3]:
import pandas as pd
from tqdm import tqdm

In [2]:
df_raw = pd.read_csv('./data/jeju_data_ver1/201901-202003.csv')

In [5]:
df=df_raw

In [6]:
df.columns

Index(['REG_YYMM', 'CARD_SIDO_NM', 'CARD_CCG_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM',
       'HOM_CCG_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'CSTMR_CNT', 'AMT', 'CNT'],
      dtype='object')

In [36]:
df1 = df.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'])['AMT'].sum().reset_index()

In [11]:
sido_list = list(df_raw['CARD_SIDO_NM'].unique())
clss_list = list(df_raw['STD_CLSS_NM'].unique())

In [19]:
set(clss_list)-set(['건강보조식품 소매업',
 '골프장 운영업'])

{'과실 및 채소 소매업',
 '관광 민예품 및 선물용품 소매업',
 '그외 기타 분류안된 오락관련 서비스업',
 '그외 기타 스포츠시설 운영업',
 '그외 기타 종합 소매업',
 '기타 대형 종합 소매업',
 '기타 수상오락 서비스업',
 '기타 외국식 음식점업',
 '기타 주점업',
 '기타음식료품위주종합소매업',
 '내항 여객 운송업',
 '마사지업',
 '면세점',
 '버스 운송업',
 '비알콜 음료점업',
 '빵 및 과자류 소매업',
 '서양식 음식점업',
 '수산물 소매업',
 '슈퍼마켓',
 '스포츠 및 레크레이션 용품 임대업',
 '여관업',
 '여행사업',
 '욕탕업',
 '육류 소매업',
 '일반유흥 주점업',
 '일식 음식점업',
 '자동차 임대업',
 '전시 및 행사 대행업',
 '정기 항공 운송업',
 '중식 음식점업',
 '차량용 가스 충전업',
 '차량용 주유소 운영업',
 '체인화 편의점',
 '택시 운송업',
 '피자 햄버거 샌드위치 및 유사 음식점업',
 '한식 음식점업',
 '호텔업',
 '화장품 및 방향제 소매업',
 '휴양콘도 운영업'}

In [37]:
df1

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0       201901           강원             건강보조식품 소매업    148354746
1       201901           강원                골프장 운영업   1229200312
2       201901           강원            과실 및 채소 소매업   1286979106
3       201901           강원      관광 민예품 및 선물용품 소매업     30656770
4       201901           강원        그외 기타 스포츠시설 운영업     13101500
...        ...          ...                    ...          ...
9433    202003           충북  피자 햄버거 샌드위치 및 유사 음식점업   1315245299
9434    202003           충북                한식 음식점업  16152482704
9435    202003           충북                    호텔업     15248550
9436    202003           충북          화장품 및 방향제 소매업    428881434
9437    202003           충북               휴양콘도 운영업     12733490

[9438 rows x 4 columns]

In [38]:
df1[df1['CARD_SIDO_NM'] =='강원']

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0       201901           강원             건강보조식품 소매업    148354746
1       201901           강원                골프장 운영업   1229200312
2       201901           강원            과실 및 채소 소매업   1286979106
3       201901           강원      관광 민예품 및 선물용품 소매업     30656770
4       201901           강원        그외 기타 스포츠시설 운영업     13101500
...        ...          ...                    ...          ...
8860    202003           강원  피자 햄버거 샌드위치 및 유사 음식점업   1275528331
8861    202003           강원                한식 음식점업  18063288995
8862    202003           강원                    호텔업    367560828
8863    202003           강원          화장품 및 방향제 소매업    452924705
8864    202003           강원               휴양콘도 운영업    559876015

[572 rows x 4 columns]

In [51]:
dict1 = dict()
for i in sido_list:
    res = df1[df1['CARD_SIDO_NM'] =='{}'.format(i)]['STD_CLSS_NM'].unique()
    result = set(clss_list) - set(res)
    dict1['{}'.format(i)] = list(result)

In [52]:
dict1

{'강원': ['정기 항공 운송업'],
 '경기': ['면세점', '정기 항공 운송업'],
 '경남': ['면세점', '정기 항공 운송업'],
 '경북': ['면세점', '정기 항공 운송업'],
 '광주': ['그외 기타 분류안된 오락관련 서비스업', '면세점', '휴양콘도 운영업', '정기 항공 운송업'],
 '대구': ['그외 기타 분류안된 오락관련 서비스업', '휴양콘도 운영업', '정기 항공 운송업', '내항 여객 운송업'],
 '대전': ['택시 운송업',
  '그외 기타 분류안된 오락관련 서비스업',
  '면세점',
  '버스 운송업',
  '내항 여객 운송업',
  '휴양콘도 운영업',
  '정기 항공 운송업'],
 '부산': ['그외 기타 분류안된 오락관련 서비스업'],
 '서울': ['그외 기타 분류안된 오락관련 서비스업', '휴양콘도 운영업'],
 '세종': ['여행사업',
  '택시 운송업',
  '면세점',
  '버스 운송업',
  '내항 여객 운송업',
  '자동차 임대업',
  '휴양콘도 운영업',
  '호텔업',
  '정기 항공 운송업'],
 '울산': ['휴양콘도 운영업', '정기 항공 운송업', '내항 여객 운송업'],
 '인천': ['그외 기타 분류안된 오락관련 서비스업', '버스 운송업', '휴양콘도 운영업'],
 '전남': ['정기 항공 운송업'],
 '전북': ['그외 기타 분류안된 오락관련 서비스업', '면세점'],
 '제주': ['버스 운송업'],
 '충남': ['면세점'],
 '충북': ['그외 기타 분류안된 오락관련 서비스업', '정기 항공 운송업']}